body {
  font-family: Lato;
  background-color: rgb(248, 248, 248);
}

/*input {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    display: block;
}

input:focus {
    outline: none;
}*/

/*textarea {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    resize: none;
}*/

.textarea {
  width:250px;
min-height:50px;
height:auto;
}

.textarea:focus {
  outline: none;
}

/*textarea:focus {
    outline: none;
}*/

ul {
  list-style: none;
}
